.comments {
  overflow-y: scroll;
  height: calc(100vh - 16vw);

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__card {
    cursor: default;
    background-color: var(--bg-1);
    margin-block-end: 1rem;
    border-radius: 10px;
    min-width: 18rem;
    min-height: 5rem;
    padding: 1rem;
    margin: 1rem;

    @media (max-width: 320px) {
      min-width: 6rem;
    }

    &--header {
      &__subject {
        font-size: var(--fs-s);
      }

      &__time {
        display: flex;
        font-size: var(--fs-s);
        color: var(--tc-clock);
        align-items: center;
        margin-block-start: 0.7rem;

        & > svg,
        & > p {
          display: inline-flex;
        }

        & > p > * {
          margin-inline: 0.125rem;
        }

        & > svg {
          margin-inline-end: 0.25rem;
          & > g > g > path {
            fill: #6e7285;
          }
        }
      }
    }
    &--body {
      display: flex;
      justify-content: space-between;
      font-size: var(--fs-normal);
      margin-top: 1.13rem;

      &__section {
        display: inherit;
        white-space: nowrap;
        align-items: center;

        & > img {
          margin-inline-end: 1rem;
        }
      }

      & > a {
        padding: 0.42rem 0.56rem;
        background-color: var(--white);
        border-radius: 0.7rem;
        cursor: pointer;

        &:active {
          background-color: var(--checkbox-blue);

          & > svg > g > path {
            stroke: var(--white);
          }
        }
      }
    }
  }
}
