.profileSection {
  min-width: 19.333vw;

  background-color: var(--bg-2);

  border: 1px var(--bg-secondary) solid;
  border-radius: 0.47rem;

  margin-inline-start: 1vw;

  // padding-inline: 1.3vw 0.833vw;

  &--header {
    display: flex;
    justify-content: space-around;

    padding-block-start: 1.67rem;

    &__name {
      color: var(--tc-header);
      font-size: var(--fs-l);
      font-weight: var(--fw-l);
    }
    &__date {
      margin-inline-start: 7.044vw;
      color: var(--tc-date);
      font-size: var(--fs-3xs);
    }
  }

  &--body {
    display: flex;
    justify-content: space-evenly;

    &__data {
      // padding-block-end: 1.28rem;

      &--section {
        margin-block-start: 1.5rem;

        & > header {
          display: flex;
          align-items: center;

          & > img {
            margin-inline-end: 0.23rem;
          }

          & > p {
            color: var(--tc-date);
            font-size: var(--fs-3xs);
            margin: 0;
          }
        }
        & > h3 {
          margin: 0;
          margin-block: 0.6rem 1.7rem;
          color: var(--tc-profile-number);
          font-size: var(--fs-xl);
          font-weight: var(--fw-l);
        }
      }
    }

    &__main {
      overflow: hidden;

      position: relative;

      margin-block: 1.54rem;
      margin-inline: 1rem;

      width: 10.25rem;
      height: 10.25rem;

      background-image: url("../../../assets/icons/green-circle.svg");
      background-repeat: no-repeat;

      &::before {
        content: "";
        background-image: url("../../../assets/icons/violet-circle.svg");
        background-repeat: no-repeat;

        position: absolute;
        width: 25rem;
        height: 25rem;

        top: 1.25rem;
        left: 1rem;

        z-index: 1;
      }

      &::after {
        content: "";
        background-image: url("../../../assets/icons/orange-circle.svg");
        background-repeat: no-repeat;

        position: absolute;
        width: 25rem;
        height: 25rem;

        top: 2.5rem;
        left: 2.5rem;
        z-index: 1;
      }
      & > .outLineDot {
        position: absolute;
        height: 0.56rem;
        width: 0.56rem;

        top: 2.5rem;
        left: 9rem;
      }

      & > .midLineDot {
        position: absolute;
        height: 0.56rem;
        width: 0.56rem;

        top: 8.4rem;
        left: 4.8rem;
      }

      & > .innerLineDot {
        position: absolute;
        height: 0.56rem;
        width: 0.56rem;

        top: 4rem;
        left: 2.5rem;
      }

      & > span {
        position: absolute;

        font-size: var(--fs-s);

        top: 7rem;
        left: 3.25rem;
      }

      & > .employee {
        position: absolute;

        top: 3.5rem;
        left: 3.5rem;
      }
    }
  }
}
