.calendar {
  width: 100%;
  padding-block-start: 1.59rem;
  padding-inline: 0.8rem 0.59rem;

  @media (max-width: 320px) {
    padding-inline: 0;
  }

  & * > img,
  * > h3 {
    display: inline;
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: inherit;
      align-items: center;

      & > h3 {
        font-size: var(--fs-s);
        font-weight: var(--fw-m);
        color: var(--tc-number);
        cursor: default;
      }

      & > img {
        margin-inline-start: 0.98rem;
        cursor: pointer;
      }

      & > a {
        display: flex;
        align-items: center;

        padding-block: 0.8rem;
        padding-inline: 0.4rem 0.33rem;
        border-radius: 0.52rem;

        background-color: var(--calendar-btn);
        color: var(--tc-menu);
        font-size: var(--fs-4xs);

        cursor: pointer;

        & > * {
          padding-inline-start: 0.4rem;
        }
      }
    }
  }

  & > div > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-block: 0.61rem;

    border-block: 0.75px var(--calendar-border) dashed;

    & > li {
      width: 100%;
      min-width: 2.53rem;
      min-height: 4.73rem;

      & > input {
        display: none;
      }

      & > label {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-block: 0.5rem;
        border-radius: 0.59rem;
        margin-inline: 0.1rem;

        padding-block: 0.25rem 1.25rem;

        & > p {
          color: var(--calendar-label);
          font-size: var(--fs-5xs);
          cursor: pointer;
          margin: 0.5rem 0;

          &.number {
            color: var(--bg-3);
            font-size: var(--fs-l);
            font-weight: var(--fw-l);
            border-radius: 50%;
            padding: 0.5rem;
          }
        }

        & > div {
          height: 0.281rem;

          & > img {
            width: 0.35rem;
            margin-inline: 0.1rem;
          }
        }
      }

      & > input:checked ~ label {
        background-color: var(--yellow);

        & > .number {
          background-color: var(--black);
          color: var(--white);
        }
      }
    }
  }
}
