.calendar {
  padding-block-start: 1.59rem;
  padding-inline: 1.8rem 1.59rem;

  & * > img,
  * > h3 {
    display: inline;
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 1.12rem;

    & > div {
      display: inherit;
      align-items: center;

      & > h3 {
        font-size: var(--fs-s);
        font-weight: var(--fw-m);
        color: var(--tc-number);
        cursor: default;
      }

      & > img {
        margin-inline-start: 0.98rem;
        cursor: pointer;
      }

      & > a {
        display: flex;
        align-items: center;

        padding-block: 0.8rem;
        padding-inline: 0.4rem 0.33rem;
        border-radius: 0.52rem;

        background-color: var(--calendar-btn);
        color: var(--tc-menu);
        font-size: var(--fs-4xs);

        cursor: pointer;

        & > * {
          padding-inline-start: 0.4rem;
        }
      }
    }
  }

  & > div > ul {
    list-style: none;
    display: flex;
    padding-block: 0.61rem;

    border-block: 0.75px var(--calendar-border) dashed;

    & > li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: 0.1rem;
      padding-inline: 0.5rem;
      border-radius: 0.59rem;

      & > p {
        color: var(--calendar-label);
        font-size: var(--fs-5xs);
        margin: 0.5rem 0 0 0;
        cursor: pointer;
      }

      & > .date {
        position: relative;
        height: 1.79rem;
        margin-block-start: 0.66rem;
        cursor: pointer;

        & > .number {
          position: absolute;
          color: var(--bg-3);
          font-size: var(--fs-l);
          font-weight: var(--fw-l);
          margin: 0;
          top: 0.3rem;
          left: 0.4rem;
          z-index: 99;
        }

        &::after {
          content: "";

          visibility: hidden;

          display: block;
          height: 1.79rem;
          width: 1.79rem;

          background-color: var(--calendar-circle);
          border-radius: 50%;
        }

        &.picked::after {
          visibility: visible;
        }
        &.picked > p {
          color: var(--white);
        }
      }

      & > div > img {
        width: 0.35rem;
        margin-inline: 0.1rem;
      }
    }
  }
}

.p-1 {
  background-color: var(--yellow);
  border-radius: 0.59rem;
}

.day-1::after {
  visibility: visible !important;
}

.day-1 > p {
  color: var(--white) !important;
}
