<section class="calendar">
  <header class="calendar__header" [ngClass]="isArabic ? 'rtl' : 'ltr'">
    <div>
      <h3>{{ labelsService.calendarLabels[0] }}</h3>
      <img
        [ngClass]="{ imgReverse: !isArabic }"
        src="../../../assets/icons/icon.svg"
        (click)="previous()"
      />
      <img
        [ngClass]="{ imgReverse: !isArabic }"
        src="../../../assets/icons/icon (1).svg"
        (click)="next()"
      />
    </div>
    <div>
      <a role="button">
        <img src="../../../assets/icons/calendar-2.svg" alt="" />
        <span>
          {{ labelsService.calendarLabels[1] }}
        </span>
        <img src="../../../assets/icons/arrow-down.svg" alt="" />
      </a>
    </div>
  </header>
  <div>
    <ul>
      <li
        *ngFor="
          let data of labelsService.dates.slice(start, end);
          let index = index
        "
        (click)="pickedToggle(index)"
        [class]="'p-' + index"
      >
        <input
          type="radio"
          [id]="data.number + index"
          name="dates"
          [value]="data.number + index"
          [checked]="index === 1"
        />
        <label [for]="data.number + index">
          <p *ngIf="isArabic">{{ data.day[0] }}</p>
          <p *ngIf="!isArabic">{{ data.day[1] }}</p>
          <p class="number" *ngIf="data.number < 10">0{{ data.number }}</p>
          <p class="number" *ngIf="data.number >= 10">{{ data.number }}</p>
          <div>
            <img
              *ngIf="data.tasks[0]"
              src="../../../assets/icons/green-dot.svg"
              alt=""
            />
            <img
              *ngIf="data.tasks[1]"
              src="../../../assets/icons/orange-dot.svg"
              alt=""
            />
            <img
              *ngIf="data.tasks[2]"
              src="../../../assets/icons/violet-dot.svg"
              alt=""
            />
          </div>
        </label>
      </li>
    </ul>
  </div>
</section>
