.statistics {
  min-width: 17.4rem;

  background-color: var(--bg-2);

  border: 1px var(--bg-secondary) solid;
  border-radius: 0.47rem;

  margin-inline-start: 0.66rem;

  @media (max-width: 700px) {
    margin-inline-start: 0;
  }

  padding-inline: 0.81rem 0;
  padding-block: 1.41rem 0;

  min-width: 17.4rem;

  &--header {
    & > h3 {
      margin: 0 0 0.25rem 0;

      color: var(--bg-3);
      font-size: var(--fs-l);
      font-weight: var(--fw-l);
    }
  }

  &--body {
    height: 9.1rem;
    position: relative;

    & > div,
    & > div > div,
    & > div > div > div {
      position: absolute;
    }

    &__chart {
      height: 8.5rem;
      width: 8.5rem;

      top: 1rem;
      right: 25%;

      @media (min-width: 1440px) {
        right: 35%;
      }

      @media (max-width: 700px) {
        right: 35%;
      }
    
      @media (max-width: 320px) {
        right: 25%;
      }

      z-index: 1;

      & > .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: var(--checkbox-blue);
      }

      background-color: #e5e5ef;
      border-radius: 50%;

      &::after {
        content: "";

        z-index: 2;

        position: absolute;

        left: 0.7rem;
        right: 0.7rem;
        top: 0.7rem;
        bottom: 0.7rem;

        border-radius: 50%;
        background-color: white;
        height: 7rem;
        width: 7rem;
      }

      &--c2 {
        // position: relative;

        height: 5.75rem;
        width: 5.75rem;

        top: 1.5rem;
        right: 1.25rem;

        z-index: 3;

        transform: rotate(90deg);

        & > .mat-mdc-progress-spinner {
          --mdc-circular-progress-active-indicator-color: var(--chart-2);
        }

        background-color: #e5e5ef;
        border-radius: 50%;

        &::after {
          content: "";

          z-index: 4;

          position: absolute;

          left: 0.6rem;
          right: 0.6rem;
          top: 0.6rem;
          bottom: 0.6rem;

          border-radius: 50%;
          background-color: white;
          height: 4.5rem;
          width: 4.5rem;
        }

        &__data {
          transform: rotate(-90deg);

          top: 1.75rem;
          right: 1.75rem;
          // left: 8.889vw;

          z-index: 5;

          display: flex;
          flex-direction: column;
          align-items: center;

          & > P {
            margin: 0;

            &.number {
              color: var(--bg-3);
              font-size: var(--fs-xxl);
              font-weight: var(--fw-l);
            }

            &.text {
              color: var(--tc-chartT2);
              font-size: var(--fs-xxl);
              font-weight: var(--fw-s);
            }
          }
        }
      }
    }
  }

  &--footer {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1.34rem;
    padding-block-end: 0.75rem;

    &__data1,
    &__data2 {
      position: relative;
      padding: 0 1rem;

      & > h3 {
        margin: 0;
        color: var(--bg-3);
        font-size: var(--fs-xxl);
        font-weight: var(--fw-l);
      }

      & > p {
        margin: 0.25rem 0 0 0;
        color: var(--tc-chartT1);
        font-size: var(--fs-l);
        font-weight: var(--fw-s);
      }
    }
  }
}
