<section class="searchBar" [ngClass]="isArabic ? 'ar' : 'en'">
  <div class="searchBar__inputSection">
    <input type="search" [placeholder]="labelsService.buttons[1]" />
    <img
      class="searchBar__inputSection--logo"
      [ngClass]="{ searchDirection: !isArabic }"
      src="../../../assets/icons/search-normal.svg"
      alt=""
    />
    <a role="button">
      <img src="../../../assets/icons/setting-4.svg" alt="" />
    </a>
    <a role="button">
      <img src="../../../assets/icons/arrow-3.svg" alt="" />
    </a>
  </div>
  <div class="searchBar__aside" role="button">
    {{ labelsService.buttons[0] }}
  </div>
</section>
