@media (max-width: 1000px) {
  .container {
    position: absolute;
    visibility: hidden;
    margin-block-start: 3.75rem;
    background-color: var(--white);
    z-index: 50;
    // add styling to the list
  }

  .menuButton {
    visibility: visible !important;
  }
}

.open {
  visibility: visible;
}

.menuButton {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-l);
  background-color: var(--yellow);
  cursor: pointer;
  padding: 0.5rem;

  width: 10rem;
  height: 2rem;

  z-index: 99;

  top: 1rem;
  right: 5rem;

  &.reverse {
    right: auto;
    left: 5rem;
  }

  & > img {
    transform: rotate(-180deg);
    transition: ease-in-out;
    transition-duration: 250ms;
    margin-inline: 1rem;

    &.active {
      transform: rotate(0deg);
      transition: ease-in-out;
      transition-duration: 250ms;
    }
  }
}

.mainMenu {
  height: 100vh;
  min-width: 15rem;
  margin-inline: 1.34 0.62rem;
  background-color: var(--bg-2);

  // the logo section

  &__logo {
    padding-block-start: 1.12rem;
    margin-inline-start: 2.07rem;
    position: relative;

    @media (max-width: 1000px) {
      position: absolute;
    }
  }

  &__switch {
    position: absolute;
    cursor: pointer;
    top: 3.13rem;

    left: 12.23rem;

    &.imgReverse {
      left: auto;
      right: 12.23rem;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////

  &__header {
    color: var(--tc-disabled);
    margin: 1.45rem 1.27rem;
    font-size: var(--fs-l);
  }

  &__list {
    &--btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      min-height: 3.1875rem;

      p {
        min-width: 6rem;
        margin: 0 0.41rem;
        font-size: var(--fs-xl);
      }

      img {
        margin-block: 0.61rem 0.66rem;
        margin-inline-start: 1.41rem;
      }

      &.active > picture {
        width: 3.56rem;
        border-radius: 2.81rem 0 0 2.81rem;
        background-color: var(--yellow);
      }
      &.active.enBorder > picture {
        border-radius: 0 2.81rem 2.81rem 0;
      }

      & > .arrow {
        margin-inline-end: 1.89rem;
        transform: rotate(-180deg);
        transition: ease-in-out;
        transition-duration: 250ms;
      }

      &.active > .arrow {
        transition: ease-in-out;
        transition-duration: 250ms;
        transform: rotate(0);
      }

      &.notVis > .arrow {
        visibility: hidden;
      }
    }

    &--child {
      list-style: none;
      margin: 0 3.72rem 0 0;
      display: flex;

      &.hide {
        display: none;
      }

      & > div {
        & > div {
          margin: 0.09rem;
          & > li {
            cursor: pointer;
            margin: 0.77rem 0.7rem;
            font-size: var(--fs-s);
          }
        }
      }
    }
  }
}
