// @media (max-width: 1000px) {
//   .container {
//     position: absolute;
//     visibility: hidden;
//     margin-block-start: 3.75rem;
//     background-color: var(--white);
//     z-index: 50;
//     // add styling to the list
//   }

//   .menuButton {
//     visibility: visible !important;
//   }
// }

// .open {
//   visibility: visible;
// }

// .menuButton {
//   visibility: hidden;
//   position: absolute;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 1rem;
//   font-size: var(--fs-xxl);
//   font-weight: var(--fw-l);
//   background-color: var(--yellow);
//   cursor: pointer;
//   padding: 0.5rem;

//   width: 10rem;
//   height: 2rem;

//   z-index: 99;

//   top: 1rem;
//   right: 5rem;

//   &.reverse {
//     right: auto;
//     left: 5rem;
//   }

//   & > img {
//     transform: rotate(-180deg);
//     transition: ease-in-out;
//     transition-duration: 250ms;
//     margin-inline: 1rem;

//     &.active {
//       transform: rotate(0deg);
//       transition: ease-in-out;
//       transition-duration: 250ms;
//     }
//   }
// }

.mainMenu {
  // display: none;
  
  @media (max-width: 1000px) {
    position: absolute;
  }

  // min-height: 100vh;
  min-width: 15rem;
  margin-inline-end: 0.63rem;
  background-color: var(--bg-2);

  // the logo section

  &__logo {
    padding-block-start: 1.12rem;
    margin-inline-start: 2.07rem;
    position: relative;
  }

  &__switch {
    width: 13.5px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    top: 3.14rem;

    left: 14.75rem;

    &.imgReverse {
      left: auto;
      right: 14.75rem;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////

  &__header {
    @media (max-width: 1000px) {
      display: none;
    }

    color: var(--tc-disabled);
    margin-inline: 1.27rem;
    margin-block: 1.23rem 1.27rem;
    
    &.top{
      margin-block-start: 5rem;
      
    }

    font-size: var(--fs-l);
  }

  &__list {
    @media (max-width: 1000px) {
      display: none;
    }

    &--btn {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      cursor: pointer;

      min-height: 3.1875rem;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline-start: 0.41rem;
      }

      p {
        min-width: 6rem;
        font-size: var(--fs-xl);
      }

      img {
        margin-block: 0.61rem 0.66rem;
        margin-inline-start: 1.41rem;
      }

      & > .picture {
        margin: 0;
        padding-inline-end: 0.8rem;
      }

      &.active > .picture {
        border-radius: 2.81rem 0 0 2.81rem;
        background-color: var(--yellow);
      }
      &.active.enBorder > picture {
        border-radius: 0 2.81rem 2.81rem 0;
      }

      & > div > .arrow {
        margin-inline-start: 3.5rem;
        transform: rotate(-180deg);
        transition: ease-in-out;
        transition-duration: 250ms;
      }

      &.active > div > .arrow {
        transition: ease-in-out;
        transition-duration: 250ms;
        transform: rotate(0);
      }

      &.notVis > div > .arrow {
        visibility: hidden;
      }
    }

    &--child {
      list-style: none;

      &.hide {
        display: none;
      }

      & > li {
        padding-inline-start: 4.81rem;
        padding-block: 0.61rem 0.77rem;
        cursor: pointer;
        font-size: var(--fs-s);
      }
    }
  }
}
